*{
    box-sizing: border-box;
}

body {
    /* Set the default font family and color*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  
    /* Set the background color*/
    background-color: white;
  }


nav{
    display: flex;
    margin-top: 45px;
    margin-bottom: 10px;
    padding-right: 50px;
    justify-content: flex-end;
    gap: 50px;

}

h1 {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 80px;
}

h2 {
    font-size:22px;
    font-weight: 100;
    margin-top: 3px;
    margin-bottom:0px;   
}

a {
    color:black;
    text-decoration:none;
}

/* Header */
.header {
    display: flex;
}

.header-logo {
    width: 450px;
    padding-top: 30px;
    padding-left: 40px;
    flex-shrink: 0;
}

.header-content {
    flex-grow: 1;
    margin-left: 40px;
}

.divider {
    height: 7px;
    background-color:black;
}

.navigation {
    width:fit-content;
    text-align:center;
    font-size: 24px;
    margin-right: 60px;

}

.navigation:hover {
    font-weight:bold;
    background-color:yellow; 
}




/*Product Gallery*/

.product-list {
    width: 1000px;
    margin-left:auto;
    margin-right: auto;

    padding-top: 80px;
    padding-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.product-thumbnail {
    display:block;
    width:310px;
    height:auto;
    padding:10px;
    text-align:left;

    font-size: 18px;

}


.thumbnail-pic img {
    width: 100%;
    border-style:solid;
    border-width:4px;
    border-radius:8px;
    border-color:black;
}

.product-name {
    margin-top:5px;
    margin-bottom:0px;
    font-size: 24px;
    font-weight: bold;
}

.product-name:hover {
    font-weight: bold;
}

.glazing {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-right: 20px;
}

select {
    width:180px;
    padding: 8px;
    margin-top:10px;
    border: 3px solid black;

    font-size: 18px;
}

.pack-size {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-pack-size {
    width: 40px;
    height: 40px;

    background-color: white;
    border: 3px solid black;

    font-size: 18px;
}

.add-to-cart {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-weight: bold;
}

.btn-addCart {
    width: 180px;
    height: 50px;
    font-size: 22px;
    font-weight: 700;
    background-color: white;
    border: 3px solid black;
}

.btn-addCart:hover {
    cursor:pointer;
    background-color: yellow;
  }


.cart-content {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 110px;
    text-align: right;
    font-size: 18px;
}

#cartPopup {
    display: none;
    width: 220px;
    margin-left: -70px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: white;
    padding: 8px;
    position: absolute;
    text-align: left;
    font-size: 18px;
}

#cartPopup.edit-mode {
    display: block;
    animation: fadeIn 0.5s
}

.popup-summary {
    margin-top:0px;
    margin-bottom: 0px;
}

#popup-name {
    margin-top: 20px;
    font-weight: 700;
}


/* fade in animation for the pop up */
/* Source: https://www.w3schools.com/howto/howto_js_popup.asp */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
}






/************NO USE AFTER THIS LINE*******/

/*Shopping Cart*/
.shopping-cart {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 500px;
}

.item {
    display: flex;

    gap: 50px;
    margin-top: 10px;
    margin-bottom:50px;
    padding-right: 30px;
}

.cart-pic {
    width:150px;
    height:150px;
    border-style:solid;
    border-width:4px;
    border-radius:8px;
    border-color:black;
}

.cart-description {
    font-size: 24px;
}

.btn-rmv {
    display: block;
    border-style:none;
    background-color:white;
    text-decoration:underline;
    font-weight:bold;
}

.btn-rmv:hover {
    background-color: rgb(201, 197, 197);
    cursor:pointer;
  }

.cart-total{
    display: flex;
    padding-right: 30px;
}

.cart-price {
    flex-grow: 1;
    text-align: right;
    font-size:28px;
}

#total {
    flex-shrink: 0;
    width: 450px;
    font-size:28px;
    text-align: center;
}

.btn-checkout {
    display: block;
    width: 200px;
    height: 50px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: 30px;
    
    font-size: 22px;
    font-weight: 700;
    background-color: yellow;
    border: 3px solid black;
}

.btn-checkout:hover {
    cursor:pointer;
}
